body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}

.top-right-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #0097a7;
    transform: translateY(-3px);
}

.message {
    margin-top: 20px;
}

.message h1 {
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
